header {
  background-color: #ff69b4; 
  color: #fff; 
  padding: 10px; 
  text-align: center; 
  font-size: 24px; 
  font-weight: bold; 
  width: 172.4vh;
  border-bottom: 2px solid #f50057;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top:0%;
  left:0%;
}
